name: Rate Limiting Prober

on:
  workflow_dispatch:
    inputs:
      triggerPagerDutyTest:
        description: 'Trigger PagerDuty test message'
        required: false
        type: boolean
  schedule:
    # run once a day
    - cron: '0 0 * * *'

permissions:
  contents: read

jobs:
  rate-limiting:
    strategy:
      matrix:
        env: [production, staging]
      fail-fast: false
    timeout-minutes: 10
    name: Rate Limiting Test (${{ matrix.env }})
    runs-on: ubuntu-latest
    outputs:
      summary: ${{ steps.prober.outputs.summary }}
      result: ${{ job.status }}
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Set up Go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version-file: 'go.work'
          check-latest: true
          cache-dependency-path: "go.work.sum"

      - name: Build rate-limiting prober
        run: go build -o /usr/local/bin/rate-limiting ./prober

      - name: Run Rate Limiting Prober for ${{ matrix.env }}
        id: prober
        run: |
          PROBER_OUTPUT_FILE=$(mktemp)
          set +e
          rate-limiting ${{ matrix.env == 'staging' && '--staging' }} &> "${PROBER_OUTPUT_FILE}"
          EXIT_CODE=$?
          set -e
          PROBER_OUTPUT=$(cat "${PROBER_OUTPUT_FILE}")
          echo "${PROBER_OUTPUT}"
          echo "summary<<EOF" >> $GITHUB_OUTPUT
          echo "${PROBER_OUTPUT}" >> $GITHUB_OUTPUT
          echo "EOF" >> $GITHUB_OUTPUT
          exit $EXIT_CODE

  process-results:
    if: always()
    runs-on: ubuntu-latest
    needs: rate-limiting
    outputs:
      overall_result: ${{ (contains(needs.rate-limiting.*.result, 'failure') || contains(needs.rate-limiting.*.result, 'cancelled')) && 'failure' || 'success' }}
      details: ${{ toJSON(needs.rate-limiting) }}
    steps:
      - name: Aggregate matrix results
        run: echo "Aggregating results from the rate-limiting matrix."
      - name: Print results
        run: echo '${{ toJSON(needs.rate-limiting) }}'

  pagerduty-notification:
    if: github.event.inputs.triggerPagerDutyTest=='true' || (needs.process-results.outputs.overall_result == 'failure')
    needs: [process-results]
    uses: ./.github/workflows/reusable-pager.yml
    secrets:
      PAGERDUTY_INTEGRATION_KEY: ${{ secrets.PAGERDUTY_INTEGRATION_KEY }}
    with:
      summary: ${{ inputs.triggerPagerDutyTest == 'true' && 'Test Notification' || 'Rate Limiting Prober Failed' }}
      component: "rate-limiting prober"
      group: "production and staging"
      details: |
        {
          "Failure URL": "https://github.com/sigstore/sigstore-probers/actions/runs/${{ github.run_id }}",
          "Commit": "${{ github.sha }}",
          "Production Status": "${{ fromJSON(needs.process-results.outputs.details).production.result }}",
          "Production Output": ${{ toJSON(fromJSON(needs.process-results.outputs.details).production.outputs.summary) }},
          "Staging Status": "${{ fromJSON(needs.process-results.outputs.details).staging.result }}",
          "Staging Output": ${{ toJSON(fromJSON(needs.process-results.outputs.details).staging.outputs.summary) }},
        }
      links: >
        [
          {
            "href": "https://github.com/sigstore/public-good-instance/blob/main/playbooks/rate-limiting.md",
            "text": "Rate Limiting Failure Playbook"
          }
        ]
